@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #ffff;
  --background-dark-color: #00b7b7; /* Dark Teal */
  --background-light-color: #e1fafa; /* Light Teal */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color: #404040;
    --background-dark-color: #00b7b7; /* Dark Teal */
    --background-light-color: #000000; /* Light Teal */
  }
}

input {
  outline: none;
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
    to bottom,
    var(--background-dark-color) 5%,
    var(--background-light-color) 90% /* Light Teal starts from 15% downwards */
  );
  background-attachment: fixed;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hidden_scroll_bar {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden_scroll_bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.hidden_scroll_bar {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden_scroll_bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.no-scroll {
  overflow: hidden;
}

@keyframes slideExpand {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0.85;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideContract {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes pulseBoxShadow {
  0%,
  100% {
    box-shadow: 0px 0px 3px 0px green;
  }
  50% {
    box-shadow: 0px 0px 10px 1px green;
  }
}

@keyframes pulseBoxShadowError {
  0%,
  100% {
    box-shadow: 0px 0px 3px 0px #ff2a2a;
  }
  50% {
    box-shadow: 0px 0px 10px 1px #ff2a2a;
  }
}

.animate-slide-expand {
  animation: slideExpand 1s forwards, pulseBoxShadow 2s infinite;
}
.animate-slide-contract {
  animation: slideContract 1s forwards;
}

.hidden {
  display: none;
}
