@tailwind base;
@tailwind components;
@tailwind utilities;

:root[color-scheme="green"] {
  --background-prim: #c8f6f6;
  --background-sec: #00a5a5;
  --background-sec-transparent: #019f9f6a;
  --prod-card-border: #019f9f3b;
  --text-prim: #404040;
  --text-sec: #626262;
  --form-bg: #d3e9e9;
  --form-heading: #0f766e;
  --input-field: #fff;
  --shaddow: #00000040;
  --btn-bg: #0d9488;
  --btn-bg-sec: #0c8278;
  --btn-alt: #134e4a;
  --btn-alt-sec: #126a64;
  --btn-alt-2: #0a4a46;
  --btn-alt-2-sec: #0b5855;
  --searchbar: #fff;
  --btn-icons: #042f2e;
  --btn-icons-sec: #053c3b;
  --loader-prim: #042f2e84;
  --loader-sec: #053f3e;
  --text-alt: #e2fdfb;
  --text-alt-2: #c9dfdd;
  --text-alt-3: #20a59c;
  --text-alt-4: #1b9189;
  --prod-card: #fff;
  --prod-card-details: #e2fdfb;
  --prod-card-details-sec: #d8efee;
  --prod-card-details-border: #209d958b;
}

[data-theme="dark"][color-scheme="green"] {
  --background-prim: #005d5d;
  --background-sec: #001c1c;
  --background-sec-transparent: #001b1bc2;
  --prod-card-border: #001b1b14;
  --text-prim: #f5f5f5;
  --text-sec: #e1e1e1;
  --btn-bg: #0c8278;
  --btn-bg-sec: #0d6e66;
  --btn-alt: #d4f9f6;
  --btn-alt-sec: #ace8e3;
  --btn-alt-2: #0c8278;
  --btn-alt-2-sec: #0d6e66;
  --form-bg: #073e3e;
  --form-heading: #d4f9f6;
  --input-field: #457b77;
  --shaddow: #ffffff8f;
  --searchbar: #457b77;
  --btn-icons: #d4f9f6;
  --btn-icons-sec: #95c5c1;
  --loader-prim: #9ecac9ae;
  --loader-sec: #efffff;
  --text-alt: #175853;
  --text-alt-2: #175a54;
  --text-alt-3: #8fe9e2;
  --text-alt-4: #e1e1e1;
  --prod-card: #204f4fc6;
  --prod-card-details: #437d798d;
  --prod-card-details-sec: #376e6c9b;
  --prod-card-details-border: #d1d5d58d;
}

:root[color-scheme="blue"] {
  --background-prim: #e0f7fc; /* Very light blue */
  --background-sec: #21aee1; /* Vibrant blue */
  --background-sec-transparent: #00a3e06a; /* Vibrant blue with transparency */
  --prod-card-border: #00a3e03b; /* Light blue border with transparency */
  --text-prim: #404040; /* Dark gray for primary text */
  --text-sec: #626262; /* Medium gray for secondary text */
  --form-bg: #e0ecf0; /* Light blue for form background */
  --form-heading: #0a73a3; /* Medium blue for form headings */
  --input-field: #ffffff; /* White for input fields */
  --shaddow: #00000040; /* Black shadow with transparency */
  --btn-bg: #168bba; /* Medium blue for primary buttons */
  --btn-bg-sec: #0a73a3; /* Slightly darker blue for secondary buttons */
  --btn-alt: #005a8d; /* Dark blue for alternate buttons */
  --btn-alt-sec: #004a75; /* Darker blue for alternate secondary buttons */
  --btn-alt-2: #003a5f; /* Even darker blue for alternate buttons */
  --btn-alt-2-sec: #002f4d; /* Darkest blue for alternate secondary buttons */
  --searchbar: #ffffff; /* White for search bar background */
  --btn-icons: #002f4d; /* Dark blue for button icons */
  --btn-icons-sec: #09456b; /* Slightly lighter dark blue for secondary icons */
  --loader-prim: #003a5f84; /* Dark blue with transparency for loaders */
  --loader-sec: #024967; /* Slightly lighter dark blue for secondary loaders */
  --text-alt: #e2faff; /* Very light blue for alternate text */
  --text-alt-2: #c9e9f2; /* Light blue for secondary alternate text */
  --text-alt-3: #00a3e0; /* Vibrant blue for tertiary alternate text */
  --text-alt-4: #028fc3; /* Vibrant blue for tertiary alternate text */
  --prod-card: #ffffff; /* White for product cards */
  --prod-card-details: #e2faff; /* Very light blue for product card details */
  --prod-card-details-sec: #d8f0f7; /* Slightly darker light blue for secondary details */
  --prod-card-details-border: #00a3e08b; /* Light blue border with transparency */
}

[data-theme="dark"][color-scheme="blue"] {
  --background-prim: #0a3a53;
  --background-sec: #001624;
  --background-sec-transparent: #001624c2;
  --prod-card-border: #0016241a;
  --text-prim: #eaeaea;
  --text-sec: #e1e1e1;
  --btn-bg: #126986;
  --btn-bg-sec: #155f78;
  --btn-alt: #8abfd9;
  --btn-alt-sec: #6fa8c2;
  --btn-alt-2: #126986;
  --btn-alt-2-sec: #155f78;
  --form-bg: #053246;
  --form-heading: #8abfd9;
  --input-field: #305a6b;
  --shaddow: #ffffff80;
  --searchbar: #305a6b;
  --btn-icons: #c9e0eb;
  --btn-icons-sec: #90b1be;
  --loader-prim: #6798ab99;
  --loader-sec: #cde7f3;
  --text-alt: #113542;
  --text-alt-2: #134151;
  --text-alt-3: #5db0d6;
  --text-alt-4: #e4e4e4;
  --prod-card: #1c4f6a9f;
  --prod-card-details: #356b84a3;
  --prod-card-details-sec: #2b5b6e99;
  --prod-card-details-border: #8abfd699;
}

:root[color-scheme="purple"] {
  --background-prim: #f4f0f7;
  --background-sec: #cb9bde;
  --background-sec-transparent: #be9ee66a;
  --prod-card-border: #967bb63b;
  --text-prim: #403e44;
  --text-sec: #5b5862;
  --form-bg: #e5dded;
  --form-heading: #745c8e;
  --input-field: #ffffff;
  --shaddow: #00000040;
  --btn-bg: #7c6690;
  --btn-bg-sec: #6b577c;
  --btn-alt: #543d69;
  --btn-alt-sec: #473159;
  --btn-alt-2: #3b2748;
  --btn-alt-2-sec: #2f1f39;
  --searchbar: #ffffff;
  --btn-icons: #2f1f39;
  --btn-icons-sec: #503462;
  --loader-prim: #3b274884;
  --loader-sec: #4c355e;
  --text-alt: #f1eaf7;
  --text-alt-2: #ded1e3;
  --text-alt-3: #967bb6;
  --text-alt-4: #846a9e;
  --prod-card: #ffffff;
  --prod-card-details: #e7d9eee1;
  --prod-card-details-sec: #ebd1f3d4;
  --prod-card-details-border: #967bb68b;
}

[data-theme="dark"][color-scheme="purple"] {
  --background-prim: #3d2842;
  --background-sec: #180b20;
  --background-sec-transparent: #180b20a8;
  --prod-card-border: #3e2a43;
  --text-prim: #f0f0f0;
  --text-sec: #e1e1e1;
  --btn-bg: #644d7a;
  --btn-bg-sec: #543c67;
  --btn-alt: #9d8098;
  --btn-alt-sec: #7f687b;
  --btn-alt-2: #644d7a;
  --btn-alt-2-sec: #543c67;
  --form-bg: #28192e;
  --form-heading: #cfc7d5;
  --input-field: #49304d;
  --shaddow: #ffffff66;
  --searchbar: #49304d;
  --btn-icons: #cfc7d5;
  --btn-icons-sec: #b590b3;
  --loader-prim: #a57ea1a1;
  --loader-sec: #bca9bd;
  --text-alt: #1c0f22;
  --text-alt-2: #341e37;
  --text-alt-3: #bb7ab4;
  --text-alt-4: #e1e1e1;
  --prod-card: #4d315da9;
  --prod-card-details: #67466fa5;
  --prod-card-details-sec: #62446aa5;
  --prod-card-details-border: #a47aa0b1;
}

:root[color-scheme="orange"] {
  --background-prim: #ffeddc;
  --background-sec: #edad4e;
  --background-sec-transparent: #edad4e6a;
  --prod-card-border: #ff9e3d3b;
  --text-prim: #3c3c3c;
  --text-sec: #626262;
  --form-bg: #ffe6d9;
  --form-heading: #cc5e00;
  --input-field: #ffffff;
  --shaddow: #00000040;
  --btn-bg: #ed7505;
  --btn-bg-sec: #de6d04;
  --btn-alt: #f9a23e;
  --btn-alt-sec: #f38b3d;
  --btn-alt-2: #e66a00;
  --btn-alt-2-sec: #cc5e00;
  --searchbar: #ffffff;
  --btn-icons: #5f3510;
  --btn-icons-sec: #854b18;
  --loader-prim: #5d4128c3;
  --loader-sec: #352416;
  --text-alt: #fef5f1;
  --text-alt-2: #f0dbc6;
  --text-alt-3: #ff9e3d;
  --text-alt-4: #f38b3d;
  --prod-card: #ffffff;
  --prod-card-details: #f0e8e1;
  --prod-card-details-sec: #e9e0d9;
  --prod-card-details-border: #ff9e3d8a;
}

[data-theme="dark"][color-scheme="orange"] {
  --background-prim: #652900; /* Deep brownish orange */
  --background-sec: #201301; /* Very dark brownish orange */
  --background-sec-transparent: #201301c2; /* Transparent very dark brownish orange */
  --prod-card-border: #2e1a0014; /* Very dark brownish orange border */
  --text-prim: #f7f5f3; /* Light cream for primary text */
  --text-sec: #e0e0e0; /* Light beige for secondary text */
  --btn-bg: #e67e22; /* Medium orange for primary buttons */
  --btn-bg-sec: #cc5200; /* Slightly darker orange for secondary buttons */
  --btn-alt: #f1a84d; /* Light orange for alternate buttons */
  --btn-alt-sec: #d98b3f; /* Slightly darker light orange for alternate secondary buttons */
  --btn-alt-2: #e67e22; /* Darker orange for additional buttons */
  --btn-alt-2-sec: #cc5200; /* Darker secondary orange for buttons */
  --form-bg: #382212; /* Dark brownish orange for form background */
  --form-heading: #eebb7c; /* Light orange for form headings */
  --input-field: #593416; /* Dark brownish orange for input fields */
  --shaddow: #ffffff40; /* Light shadow with transparency */
  --searchbar: #593416; /* Dark brownish orange for search bar */
  --btn-icons: #ecdcc8; /* Light orange for button icons */
  --btn-icons-sec: #d5a16e; /* Slightly darker light orange for secondary icons */
  --loader-prim: #dfb488a2; /* Dark orange with transparency for loaders */
  --loader-sec: #e2cfbefe; /* Light cream for secondary loaders */
  --text-alt: #604120; /* Deep orange for alternate text */
  --text-alt-2: #4b2f1d; /* Slightly lighter deep orange for secondary alternate text */
  --text-alt-3: #f1a84d; /* Light orange for tertiary alternate text */
  --text-alt-4: #eaeaea; /* Light beige for additional alternate text */
  --prod-card: #633829ad; /* Dark brownish orange with transparency for product cards */
  --prod-card-details: #8e5e3f8d; /* Medium brownish orange for product card details */
  --prod-card-details-sec: #82583c8d; /* Darker medium brownish orange for secondary details */
  --prod-card-details-border: #f1a84d8a; /* Light orange with transparency for product card details border */
}

body {
  color: var(--text-prim); /* This applies Tailwind's text color */
  background: linear-gradient(
    to bottom,
    var(--background-sec) 50%,
    var(--background-prim) 90%
  );
  background-attachment: fixed;
  user-select: none;
}

button {
  transition: all 0.23s ease-in-out;
}

select,
input {
  background-color: var(--input-field);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hidden_scroll_bar {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden_scroll_bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.hidden_scroll_bar {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden_scroll_bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.no-scroll {
  overflow: hidden;
}

.loader-ring {
  position: relative;
  width: 64px;
  height: 64px;
}

.inner-ring {
  position: absolute;
  border: 8px solid var(--loader-prim);
  border-top-color: var(--loader-sec);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  width: 48px;
  height: 48px;
  top: 8px;
  left: 8px;
}

.loader-ring-sm {
  position: relative;
  width: 25px;
  height: 25px;
}

.inner-ring-sm {
  position: absolute;
  border: 4px solid var(--loader-prim);
  border-top-color: var(--loader-sec);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideExpand {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0.85;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideContract {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes pulseBoxShadow {
  0%,
  100% {
    box-shadow: 0px 0px 3px 0px green;
  }
  50% {
    box-shadow: 0px 0px 10px 1px green;
  }
}

@keyframes pulseBoxShadowError {
  0%,
  100% {
    box-shadow: 0px 0px 3px 0px #ff2a2a;
  }
  50% {
    box-shadow: 0px 0px 10px 1px #ff2a2a;
  }
}

.animate-slide-expand {
  animation: slideExpand 1s forwards, pulseBoxShadow 2s infinite;
}
.animate-slide-expand-error {
  animation: slideExpand 1s forwards, pulseBoxShadowError 2s infinite;
}
.animate-slide-contract {
  animation: slideContract 1s forwards;
}

.hidden {
  display: none;
}
